---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout
  title="__ORBIT_RUNTIME_TITLE__"
  description="__ORBIT_RUNTIME_DESCRIPTION__"
  pageType="article"
  author="__ORBIT_RUNTIME_AUTHOR__"
>
  <!-- ORBIT_DYNAMIC_RECORD_START -->
  <div id="orbit-runtime-record">__ORBIT_DYNAMIC_RECORD__</div>
  <!-- ORBIT_DYNAMIC_RECORD_END -->
</BaseLayout>
